@model DeleteWorkspaceModel 
@{
    ViewBag.Title = "Delete Workspace";
    ViewBag.CurrentPage = ActivePage.Workspaces;
}

<div class="container-fluid">
    <form method="post">
        <label class="mb-2 text-warning">Are you sure that you want to delete workspace @Model.WorkspaceName?</label>
        <div class="form-group mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" required>
            <span asp-validation-for="Password"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div class="item-group">
            <button class="btn btn-danger" type="submit">Delete</button>
            <a class="btn btn-primary" asp-controller="Workspace" asp-action="Index">To Workspaces</a>
        </div>
    </form>
</div>