@using Filters = Application.Constants.FilterOptionNames.ExerciseResults
@using Orders = Application.Constants.OrderOptionNames.ExerciseResults
@model IEnumerable<WebUI.Models.ExerciseResult.ExerciseResultViewModel>

@{
    ViewBag.Title = "Results";
    ViewBag.IsResultsForExercise = true;
}

<div class="container-fluid text-center justify-content-center">
    <h2>Results from exercise @(ViewBag.Exercise?.Name)</h2>

    <div class="row mb-1">
        <div class="btn btn-outline-primary rounded-start-5 justify-content-center text-center pt-2 ps-4 col-3 col-lg-2 col-xxl-1">
            @await Html.PartialAsync("Partials/DefaultOrderFormPartialView", (Orders.OwnerName, "Order"))
        </div>

        <form class="d-flex justify-content-end col mx-1 px-0" method="get" onsubmit="addQueryParametersFromForm(event)">
            <label for="filter-by-name-input"></label>
            <input id="filter-by-name-input" class="form-control me-1" name="@Filters.OwnerName.AsFilterName()" value="@ViewData[Filters.OwnerName.AsFilterName()]" placeholder="search"/>
            <button type="submit" class="btn btn-primary rounded-end-5">
                <img style="width: 2em;height: 2em;" src="/img/icons/search.svg" alt="Search"/>
            </button>
        </form>
    </div>


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var result in Model)
        {
            @if (result.Owner.UserName == User.Identity?.Name)
            {
                await Html.RenderPartialAsync("PartialViews/ResultsCardPartialView", result);
                break;
            }
        }
        @foreach (var result in Model)
        {
            @if (result.Owner.UserName != User.Identity?.Name)
            {
                await Html.RenderPartialAsync("PartialViews/ResultsCardPartialView", result);
            }
        }
    </div>

    @await Html.PartialAsync("Partials/DefaultPagingFormPartialView", ViewBag.ExerciseResultsCount, ViewData)
</div>