@using Filters = Application.Constants.FilterOptionNames.ExerciseResults
@using Orders = Application.Constants.OrderOptionNames.ExerciseResults
@model IEnumerable<WebUI.Models.ExerciseResult.ExerciseResultViewModel>

@{
    ViewBag.Title = "Results";
}

<div class="container-fluid text-center justify-content-center mt-2">
    @if (ViewBag.UserName is not null)
    {
        <h2>Results for <a asp-controller="Users" asp-action="Get" asp-route-userName="@(ViewBag.UserName)">@(ViewBag.UserName)</a></h2>
    }
    else
    {
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h2 class="mx-auto">Results</h2>

            <p class="fs-5 mb-0">
                Download:
                <a asp-controller="ExerciseResults" asp-action="GetUserResultsAsExcel">
                    <img style="width: 2em; height: 2em;" src="/img/icons/xlsx-format.png" alt="XLSX"/>
                </a>
            </p>
        </div>
    }

    <div class="row mb-1">
        <div class="btn btn-outline-primary rounded-start-5 justify-content-center text-center pt-2 ps-4 col-3 col-lg-2 col-xxl-1">
            @await Html.PartialAsync("Partials/DefaultOrderFormPartialView", (Orders.GroupName, "Order"))
        </div>
        <form class="d-flex justify-content-end col mx-1 px-0" method="get" onsubmit="addQueryParametersFromForm(event)">
            <label for="filter-by-name-input"></label>
            <input id="filter-by-name-input" class="form-control me-1" name="@Filters.FullName.AsFilterName()" value="@ViewData[Filters.FullName.AsFilterName()]" placeholder="search group/exercise"/>
            <button type="submit" class="btn btn-primary rounded-end-5">
                <img style="width: 2em;height: 2em;" src="/img/icons/search.svg" alt="Search"/>
            </button>
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-1">
        @foreach (var result in Model)
        {
            await Html.RenderPartialAsync("PartialViews/ResultsCardPartialView", result);
        }
    </div>

    @await Html.PartialAsync("Partials/DefaultPagingFormPartialView", ViewBag.ExerciseResultsCount, ViewData)
</div>