@page "/workspace/{WorkspaceId:guid}/info"

@rendermode InteractiveServer

@inject IFetchService FetchService
@inject ICookiesProvider CookiesProvider
@inject NavigationManager NavigationManager
@inject LinkGenerator LinkGenerator

<div class="container">
    <h3>Workspace</h3>
    @if (_workspace == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <h4>ID: @_workspace.Id</h4>
        <h4>Name: @_workspace.Name</h4>
        <h4>Owner: @_workspace.Owner.Name</h4>
    }
</div>

@code{
    [Parameter] public Guid WorkspaceId { get; set; }
    private WorkspaceViewModel? _workspace;
    private string _errorMessage = string.Empty;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var request = new HttpRequest(
                    NavigationManager.ToAbsoluteUri(
                        LinkGenerator.GetPathByAction("GetInfo", "Workspaces", new {workspaceId = WorkspaceId}) 
                        ?? throw new Exception("Uri was not found")).AbsoluteUri,
                    "GET",
                    string.Empty);
            
                await CookiesProvider.ToRequest(request);
                var response = await FetchService.Fetch(request);
                await CookiesProvider.FromResponse(response);
            
                if (response.IsSuccessStatusCode)
                {
                    _workspace = JsonSerializer.Deserialize<WorkspaceViewModel>(response.Content);
                    StateHasChanged();
                }
                else if(response.StatusCode == 401)
                {
                    NavigationManager.NavigateTo("/login", true);
                }
                else
                {
                    _errorMessage = JsonSerializer.Deserialize<ErrorViewModel>(response.Content)?.Message ?? throw new Exception("Unhandled error");
                }
            }
            catch (Exception e)
            {
                _errorMessage = e.Message;
            }
        }
    }
}