

@{
    ViewBag.Title = "Help";
}

<div class="container mt-4">
    <h2 class="text-center">Help</h2>
    
    <ul>
        <li class="mt-2"><a asp-controller="Help" asp-action="Information">Main information</a></li>
        
        <li class="mt-2">
            Resend confirmation letter
            <form method="post" asp-controller="Account" asp-action="ResendEmailConfirmation">
                <div class="input-group">
                    <label for="email" class="input-group-text">Email: </label>
                    <input class="form-control" id="email" type="email" name="email"/>
                    <button class="btn btn-primary">Send</button>
                </div>
            </form>
        </li>
        
        <li class="mt-2"><a asp-controller="Passwords" asp-action="Forgot">Forgot password?</a></li>
    </ul>
</div>
