@{
    ViewBag.Title = "Help Information";
}

<div class="container mt-5">
    <h1 class="text-center mb-3">Training Tools Help</h1>

    <p class="mb-4">Welcome to the Training Tools help page! This guide will assist you in navigating the features of our application and understanding the functionality available on each page. Below is a detailed overview of each section and its capabilities.</p>

    <h3>Introduction:</h3>
    <p>
        The Training Tools website allows users to log in or register an account. Users can view lists of muscle groups and exercises, and admins can edit these. You can view your profile and the profiles of other users who have made their profiles public. Users can add others as friends. For each exercise, users can add their results and compare their results with friends. You can create training plans, and if public, others can view them. Admins can assign special roles (e.g., Trainer) to users, which helps others find trainers and potentially view their training plans or add them as friends. The site also has an open API, allowing other applications to offer the same functionalities in their own format.
    </p>

    <h3>Home Page:</h3>
    <p>
        The Home page provides a welcome message and is displayed by default when no specific path is specified on the site.
    </p>

    <h3>Muscle Groups:</h3>
    <p>
        On this page, users can view a list of muscle groups. Admins have the additional capability to add, edit, and delete these groups.
    </p>

    <h3>Exercises:</h3>
    <p>
        Users can view a list of exercises and access detailed information about each one. Users can also add their results to specific exercises. Admins have additional permissions to add, edit, and delete exercises.
    </p>

    <h3>Training Plans:</h3>
    <p>
        This page displays all public training plans created by users.
    </p>

    <h3>Users:</h3>
    <p>
        On this page, you can view a list of public users and their roles. You can add friends, view even private users if you are an admin, and manage users by deleting or partially updating them (e.g., assigning the Trainer role). You can also view exercise results of public users or those who are your friends.
    </p>

    <h3>Help:</h3>
    <p>
        Here, you can request a confirmation email if there were issues during registration, reset your password, and view the help page regarding the site's functionality.
    </p>

    <h3>Friends:</h3>
    <p>
        On the Friends page, you can view your friends, manage invitations (accept, reject, or cancel), and view friend profiles.
    </p>

    <h3>My Results:</h3>
    <p>
        You can view your exercise results, compare them with friends' results, and download them as an Excel file.
    </p>

    <h3>My Training Plans:</h3>
    <p>
        Here, you can view, add, update, and delete your training plans.
    </p>

    <h3>Profile:</h3>
    <p>
        On your Profile page, you can view and update your personal information, change your password, and delete your account.
    </p>

    <h3>Login:</h3>
    <p>
        You can log in to your account and also use Google login for convenience.
    </p>

    <h3>Register:</h3>
    <p>
        This page allows you to register a new account.
    </p>

    <h3>Logout:</h3>
    <p>
        Clicking on the Logout page will securely sign you out of your current session.
    </p>

    <h3>Change Language:</h3>
    <p>
        Currently, the site is fully available in English, with partial translation into Ukrainian.
    </p>

    <h3>API Documentation for Developers:</h3>
    <p>
        This redirects to the Swagger page where you can explore and view documentation for the public API.
    </p>

    <h3>Terms of Use and Privacy Policy:</h3>
    <p>
        Here, you can read the relevant terms of use and privacy policy information.
    </p>
</div>
