@using System.Globalization

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/referenced-sources.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<main style="min-height: 94vh; width: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <a class="navbar-brand" href="">Training Tools</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Exercises" asp-action="GetAll">Exercises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Groups" asp-action="GetAll">Groups</a>
                </li>
                @if (Context.User.Identity?.IsAuthenticated is true)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="GetAll">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="TrainingPlans" asp-action="GetAll">
                            Training Plans
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Help" asp-action="Index">Help</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (Context.User.Identity?.IsAuthenticated is true)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Friends" asp-action="Index">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ExerciseResults" asp-action="GetUserResults">My Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="TrainingPlans" asp-action="GetUserTrainingPlans">
                            My Training Plans
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Register">Register</a>
                    </li>
                }
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                        @switch (CultureInfo.CurrentUICulture.Name)
                        {
                            case "en-US":
                                <span>EN</span>
                                break;
                            case "uk-UA":
                                <span>UA</span>
                                break;
                            default:
                                <span>EN</span>
                                break;
                        }
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-start" style="max-width: 4em; min-width: 4em; width: 4em;">
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="uk-UA" asp-route-returnUrl="@Context.Request.Path">UA</a></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path">EN</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-2">
        @RenderBody()
    </div>
</main>
<footer class="border-top footer text-muted">
    <div class="container">
        
    </div>
    <div class="container">
        <div class="row">
            <p class="text-center m-3 col"><a href="/swagger">OpenApi (Swagger) for developers</a></p>
            <p class="text-center m-3 col">&copy; 2024 - WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
        
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>