@model DeleteWithPasswordViewModel

@{
    Guid partialViewId = Guid.NewGuid();
}

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@partialViewId">
    @Model.ButtonName
</button>

<div class="modal fade" id="deleteModal-@partialViewId" tabindex="-1" aria-labelledby="deleteLabel-@partialViewId" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4 text-danger" id="deleteLabel-@partialViewId">@Model.Name</h1>
            </div>
            <form id="deleteForm-@partialViewId">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="passwordForDelete-@partialViewId">Password: </label>
                        <input id="passwordForDelete-@partialViewId" type="password" class="form-control" required>
                        <span id="errorWhenDelete-@partialViewId" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
document.getElementById('deleteForm-@partialViewId').addEventListener('submit', function(event) {
  event.preventDefault();
  
  let Password = document.getElementById('passwordForDelete-@partialViewId').value;
  
  let formData = {
    Password: Password,
  };
  
  fetch('@Model.HandlerUrl', {
    method: 'DELETE',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
  })
  .then(response => {
      if (response.ok) {
          @Html.Raw(Model.OnSuccess)
      } else {
          return response.json();
      }
  })
  .then(data => {
    if (data) {
      const errorLabel = document.getElementById("errorWhenDelete-@partialViewId");
      errorLabel.innerText = data.message;
    }
  })
  .catch((error) => {
      console.error('Error:', error);                     
  });
});
</script>