@inherits LayoutComponentBase

<main style="height: 100vh;">
  <NavMenu/>
  <div class="container-fluid py-3 px-1">
    @Body
  </div>
  <style>
    center{
      display: none;
    }
  </style>
  <div class="row"></div>
</main>