@*@model StorageViewModel
@{
    ViewBag.Title = "Edit Storage";
    ViewBag.ActionPage = "storages";
}

<div class="container">
    <form method="post">
        <div class="form-group mb-3">
            <label for="add-storage">Storage name: </label>
            <input type="text" class="form-control" name="Name" id="add-storage" aria-describedby="add-storage-helper" value="@Model.Name" placeholder="somestorage">
            <small id="add-storage-helper" class="form-text text-muted">Length is 3 - 16</small>
        </div>

        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>*@