@model IEnumerable<Application.Dtos.UserInfo>

@{
    ViewBag.Title = "Users";
}

<div class="container">
    <h2 class="text-center">Users</h2>

    <div class="list-group">
        @foreach (var userInfo in Model)
        {
            <div class="list-group-item list-group-item-action mb-2 d-flex justify-content-between align-items-center">
                <p>@userInfo.User.UserName; @nameof(userInfo.RelationshipState); @foreach(var role in userInfo.Roles) {@role}</p>
            </div>
        }
    </div>
</div>


