@using Domain.Rules
@model IEnumerable<Application.Dtos.UserInfo>

@{
    ViewBag.Title = "Users";
}

<div class="container">
    <h2 class="text-center">Users</h2>

    @if (Context.User.IsInRole(nameof(Role.Admin)) || Context.User.IsInRole(nameof(Role.Root)))
    {
        <div class="row">
            <a class="col d-block w-75 btn btn-outline-success me-2" asp-controller="Users" asp-action="CreateUser">Create new User</a>
            
            <a class="col-3 btn btn-primary" asp-controller="Users" asp-action="GetAllUsersAsCsv">Download as CSV</a>
        </div>
        
    }
    
    <div class="list-group mt-3">
        @foreach (var userInfo in Model)
        {
            <div class="list-group-item list-group-item-action mb-2">
                <div class="row w-100">
                    <a class="col fs-5" asp-controller="Users" asp-action="GetUser" asp-route-userName="@userInfo.User.UserName">@userInfo.User.UserName</a>
                    <div class="col">
                        @foreach (var role in userInfo.Roles)
                        {
                            await Html.RenderPartialAsync("Partials/UserRole", role);
                        }
                    </div>
                    <div class="col-2">
                        @{
                            await Html.RenderPartialAsync("Partials/UsersRelationshipActions", (userInfo.RelationshipState, userInfo.User.UserName, Context.Request.Path.ToString()));
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


