@page "/Register"

@rendermode InteractiveServer

@inject IFetchService FetchService
@inject ICookiesProvider CookiesProvider
@inject NavigationManager NavigationManager
@inject LinkGenerator LinkGenerator

<PageTitle>Register</PageTitle>

<div class="container">
    <div id="register-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group mb-3">
            <label for="register-name" class="control-label">Name: </label>
            <input id="register-name" name="Name" type="text" class="form-control" @bind="_registerUserModel.Name" required>
            <InvalidModelFormMessage BindingError="BindingError" ErrorParameter="@nameof(RegisterUserModel.Name)" />
        </div>
        <div class="form-group mb-3">
            <label for="register-email" class="control-label">Email: </label>
            <input id="register-email" name="Email" type="email" class="form-control" @bind="_registerUserModel.Email" required>
            <InvalidModelFormMessage BindingError="BindingError" ErrorParameter="@nameof(RegisterUserModel.Email)" />
        </div>
        <div class="form-group mb-3">
            <label for="register-password" class="control-label">Password: </label>
            <input id="register-password" name="Password" type="password" class="form-control" @bind="_registerUserModel.Password" required>
            <InvalidModelFormMessage BindingError="BindingError" ErrorParameter="@nameof(RegisterUserModel.Password)" />
        </div>
        <div class="form-group mb-3">
            <label for="register-confirm-password" class="control-label">Confirm password: </label>
            <input id="register-confirm-password" name="ConfirmPassword" type="password" class="form-control" @bind="_registerUserModel.ConfirmPassword" required>
            <InvalidModelFormMessage BindingError="BindingError" ErrorParameter="@nameof(RegisterUserModel.ConfirmPassword)" />
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary" @onclick="SubmitRegister">Register</button>
        </div>
    </div>
</div>

@code {
    private readonly RegisterUserModel _registerUserModel = new()
    {
        Name = string.Empty,
        Email = string.Empty,
        Password = string.Empty,
        ConfirmPassword = string.Empty
    };
    private ModelStateErrorViewModel? BindingError { get; set; }

    private async Task SubmitRegister()
    {
        try
        {
            var request = new HttpRequest(
                NavigationManager.ToAbsoluteUri(
                    LinkGenerator.GetPathByAction("Register", "Users")
                    ?? throw new Exception("Uri was not found")).AbsoluteUri,
                "POST",
                JsonSerializer.Serialize(_registerUserModel));

            await CookiesProvider.ToRequest(request);
            var response = await FetchService.Fetch(request);
            await CookiesProvider.FromResponse(response);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/", true);
            }
            else if (response.StatusCode == StatusCodes.Status400BadRequest)
            {
                BindingError = JsonSerializer.Deserialize<ModelStateErrorViewModel>(response.Content);
                StateHasChanged();
            }
            else
            {
                NavigationManager.NavigateTo($"/error/{response.StatusCode}");
            }
        }
        catch (Exception e)
        {
            NavigationManager.NavigateTo($"/error/600/{e.Message}");
        }
    }
}