@page "/Error/{StatusCode:int}/{Message?}"

<PageTitle>Error</PageTitle>

<h1 class="text-danger text-center">@StatusCode</h1>
<h2 class="text-danger text-center">Error</h2>
<h3 class="text-danger text-center">
    @if (Message is null)
    {
        <text>An error occurred while processing your request.</text>
    }
    else
    {
        @Message
    }
</h3>


@code{
    [Parameter] public int StatusCode { get; set; }
    [Parameter] public string? Message { get; set; }
}