@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TrainingTools.ViewModels.UserViewModel

@{
    ViewBag.Title = "Login";
    ViewBag.CurrentPage = ActivePage.Profile;
}

<div class="container">
  <div class="container">
    <h2>Profile</h2>
    
    <h4>ID: @Model.Id</h4>
    <h4>Email: @Model.Email</h4>
    <h4>Name: @Model.Name</h4>
  </div>
  

  <div class="container mt-2">
    <h2>Actions</h2>
    <a class="btn btn-primary" asp-controller="Users" asp-action="Edit">Edit</a>
    
    <button id="showChangePassDialog" type="button" class="btn btn-primary">
      Change password
    </button>
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="changePasswordLabel">Change Password</h1>
              </div>
              <form id="changePasswordForm">
                <div class="modal-body">
                
                  <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" id="currentPassword" required>
                  </div>
                  <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" required>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmPassword" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Change</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    
    @await Html.PartialAsync("Partials/DeleteWithPasswordPartialView", 
      new DeleteWithPasswordViewModel(
        "Delete Account",
        "Delete Account", 
        "/account/delete", 
    "alert('Account was successful deleted');window.location.href = '/'"),
      ViewData)
  </div>
</div>

@section scripts
{
  <script>
    const changePassModalElement = document.getElementById('changePasswordModal')
    const bsChangePassModal = new bootstrap.Modal(changePassModalElement);
    changePassModalElement.addEventListener('hide.bs.modal', function (event){
        document.getElementById('currentPassword').value = '';
        document.getElementById('newPassword').value = '';
        document.getElementById('confirmPassword').value = '';
    })
    
    document.getElementById('showChangePassDialog').addEventListener('click', function (event) {
      bsChangePassModal.show();  
    })
    document.getElementById('changePasswordForm').addEventListener('submit', function(event) {
      event.preventDefault();
      
      let currentPassword = document.getElementById('currentPassword').value;
      let newPassword = document.getElementById('newPassword').value;
      let confirmPassword = document.getElementById('confirmPassword').value;
      
      // Check if new password matches confirmation
      if (newPassword !== confirmPassword) {
        alert("New password and confirmation password do not match.");
        return;
      }
      
      let formData = {
        CurrentPassword: currentPassword,
        NewPassword: newPassword
      };
      
      fetch('/account/ChangePassword', {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(response => {
          if (response.ok) {
              alert("Password changed successfully.");
              
              document.getElementById('currentPassword').value = '';
              document.getElementById('newPassword').value = '';
              document.getElementById('confirmPassword').value = '';
              
              bsChangePassModal.hide();
          } else {
              return response.json();
          }
      })
      .then(data => {
        if (data) {
          alert("Error: " + data.message);
        }
      })
      .catch((error) => {
          console.error('Error:', error);                     
      });
    });
  </script>
}