@model WebUI.Models.User.CreateUserModel

@{
    ViewBag.Title = "Create user";
}


<div class="container">
    <form method="post" asp-controller="Users" asp-action="Create">
        <div class="col">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" placeholder="+380(xx)-xxx-xx-xx"/>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IsPublic" class="form-label">Is Profile Public: </label>
            <input asp-for="IsPublic" class="form-check-input"/>
            <span asp-validation-for="IsPublic" class="text-danger"></span>
        </div>

        @if (Context.User.IsInRole(nameof(Role.Root)))
        {
            <div class="mb-3">
                <label asp-for="IsAdmin" class="form-label">Is User Admin: </label>
                <input asp-for="IsAdmin" class="form-check-input"/>
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>
        }

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Create</button>
        </div>

        <div class="mb-3">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </form>
</div>