@model UpdateUserModel

@{
    ViewBag.Title = $"Update user {Model.UserName}";
}

<div class="container mt-3">
    <form method="post" asp-controller="Users" asp-action="Update" asp-route-userId="@Model.Id">
        <h3>Update @Model.UserName</h3>
        <input asp-for="UserName" hidden/>
        <div class="mb-3">
            <label asp-for="ClearAbout" class="form-label">Clear string about user: </label>
            <input asp-for="ClearAbout" class="form-check-input"/>
            <span asp-validation-for="ClearAbout" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SetPrivate" class="form-label">Make user private: </label>
            <input asp-for="SetPrivate" class="form-check-input"/>
            <span asp-validation-for="SetPrivate" class="text-danger"></span>
        </div>

        @if (Context.User.IsInRole(nameof(Role.Root)))
        {
            <div class="mb-3">
                <label asp-for="IsAdmin" class="form-label">Is User Admin: </label>
                <input asp-for="IsAdmin" class="form-check-input"/>
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>
        }

        <div class="mb-3">
            <label asp-for="IsTrainer" class="form-label">Is User Trainer: </label>
            <input asp-for="IsTrainer" class="form-check-input"/>
            <span asp-validation-for="IsTrainer" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <a class="btn btn-secondary" asp-controller="Users" asp-action="Get" asp-route-userName="@Model.UserName">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

        <div class="mb-3">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </form>
</div>
