@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["welcome"]</h1>
</div>