@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1 class="mb-4">Privacy Policy and Terms of Use</h1>
    <p><strong>Last updated:</strong> 31.07.2024</p>

    <p>Welcome to Training Tools! We value your privacy and are committed to protecting your personal information. This Privacy Policy and Terms of Use explains what data we collect, how we use it, and what measures we take to protect it.</p>

    <h2>1. Information We Collect</h2>
    <p>We collect the following types of data:</p>
    <ul>
        <li>Username</li>
        <li>Email</li>
        <li>Phone</li>
        <li>About</li>
    </ul>
    <p>You can enter any data in these fields. However, we now verify the accuracy of your email by sending a confirmation email. This data is used solely for user identification and authorization purposes.</p>

    <h2>2. Data Collection Methods</h2>
    <p>We collect data through forms on our website and via a public API, which allows the same information to be transmitted from any sources.</p>

    <h2>3. Use of Data</h2>
    <p>We use the collected data for identifying and authorizing users on our website and to contact users if necessary. This data is not used for any other purposes.</p>

    <h2>4. Data Sharing</h2>
    <p>We do not share your data with third parties. However, if you log in through a third-party service that is connected to our public API, that service may receive the same information you would access by logging into our system. Additionally, we use OAuth 2.0, but this is for receiving data, not sharing it.</p>

    <h2>5. Data Protection</h2>
    <p>We take measures to protect your data, such as hashing passwords. However, our website is hosted on a free hosting service, and we cannot guarantee complete security of your data. With the introduction of the API and increased complexity of maintenance, some security vulnerabilities may have emerged. Nonetheless, if users do not share their login details, email, password, and authorization tokens with anyone, their account will be reasonably well-protected.</p>

    <h2>6. User Rights</h2>
    <p>You can change your data at any time. We verify the accuracy of your email by sending a confirmation email. Other data is free to be modified and can be deleted at any time by the user or by administrators (users with extended rights) if deemed necessary. Administrators also have access to the phone numbers and emails of regular users.</p>

    <h2>7. Contact Information</h2>
    <p>If you have any questions regarding our Privacy Policy and Terms of Use, please contact us via our GitHub: <a href="https://github.com/Mak7R/TrainingTools">https://github.com/Mak7R/TrainingTools</a>.</p>

    <h2>8. Changes to the Privacy Policy and Terms of Use</h2>
    <p>We reserve the right to update this Privacy and Usage Policy. Any changes will be posted on this page, and the last updated date will be revised accordingly.</p>

    <h2>9. Disclaimer</h2>
    <p>
        This website is an open-source project, and its code is available to everyone. We do not take responsibility for the actions of users on the site. The project is a training exercise, and we cannot guarantee complete security of data. Since the project is open to all, identifying and fixing vulnerabilities becomes easier. The project is licensed under the MIT License. This means that anyone is free to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    </p>
    <ul>
        <li>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</li>
        <li>The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.</li>
    </ul>
</div>