@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1 class="mb-4">Privacy Policy</h1>
    <p><strong>Last updated:</strong> 22.06.2024</p>

    <p>Welcome to Training Tools! We value your privacy and are committed to protecting your personal information. This Privacy Policy explains what data we collect, how we use it, and what measures we take to protect it.</p>

    <h2>1. Information We Collect</h2>
    <p>We collect the following types of data:</p>
    <ul>
        <li>Username</li>
        <li>Email</li>
        <li>Phone</li>
        <li>About</li>
    </ul>
    <p>You can enter any data in these fields. However, we now verify the accuracy of your email by sending a confirmation email. This data is used solely for user identification and authorization purposes.</p>

    <h2>2. Data Collection Methods</h2>
    <p>We collect data through forms on our website and via a public API, which allows the same information to be transmitted from any sources.</p>

    <h2>3. Use of Data</h2>
    <p>We use the collected data for identifying and authorizing users on our website and to contact users if necessary. This data is not used for any other purposes.</p>

    <h2>4. Data Sharing</h2>
    <p>We do not share your data with third parties. However, if you log in through a third-party service that is connected to our public API, that service may receive the same information you would access by logging into our system. Additionally, we use OAuth 2.0, but this is for receiving data, not sharing it.</p>

    <h2>5. Data Protection</h2>
    <p>We take measures to protect your data, such as hashing passwords. However, our website is hosted on a free hosting service, and we cannot guarantee complete security of your data. With the introduction of the API and increased complexity of maintenance, some security vulnerabilities may have emerged. Nonetheless, if users do not share their login details, email, password, and authorization tokens with anyone, their account will be reasonably well-protected.</p>

    <h2>6. User Rights</h2>
    <p>You can change your data at any time. We verify the accuracy of your email by sending a confirmation email. Other data is free to be modified and can be deleted at any time by the user or by administrators (users with extended rights) if deemed necessary. Administrators also have access to the phone numbers and emails of regular users.</p>

    <h2>7. Contact Information</h2>
    <p>If you have any questions regarding our Privacy Policy, please contact us via our GitHub: <a href="https://github.com/Mak7R/TrainingTools">https://github.com/Mak7R/TrainingTools</a>.</p>

    <h2>8. Changes to the Privacy Policy</h2>
    <p>We reserve the right to update this Privacy Policy. Any changes will be posted on this page, and the last updated date will be revised accordingly.</p>
</div>